<!DOCTYPE html>
<html lang="en">
<head>
    {% block pre_head %}
    <title>{{ app.name }}</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kelp is a cross-version spigot framework build to avoid boilerplate code and make your plugin compatible with multiple spigot versions easily">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap-kelpframework.css">
    <link rel="stylesheet" href="/static/css/base_styles/base_style.css">
    <link rel="stylesheet" href="/static/css/base_styles/base_md_styles.css">

    <link rel="stylesheet" href="/static/font/material_icons/material_icons.css">

    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/popper/popper.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>

    <script src="/static/js/modules/modalGenerator.js"></script>

    {% block base_head %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
    <div id="modal-wrapper"></div>

    {% block nav %}
        {% include "components/navbar.html" %}
    {% endblock %}

    <div id="navbar-spacer"></div>
    {% block body %}{% endblock %}
    {% block body_extensions %}{% endblock %}

    {% block base_scripts %}{% endblock %}
    {% block footer %}{% endblock %}

    {% include "components/cookie_notice.html" %}
    <script src="/static/js/base_scripts/main_base_script.js"></script>
</body>
</html>