.bg-apply{
    min-height: 200px;
    background-color: transparent;
    background-position: 0;
    text-align: center;
    background-size: cover;
}
.jumbotron h1{
    font-size: 65px;
}

.wrapper{
    display: inline-flex;
    margin-bottom: 50px;
}
.half{
    background-color: var(--dark);
    padding: 25px;
    border-radius: 2.6rem;
    min-height: 65vh;
}
.half.half-left{
    width: 70vw;
    margin-left: 3.5vw;
    margin-right: 2.5vw;
}
.half.half-right{
    height: 100%;
    width: 20vw;
    min-height: 45vh;
}

a i.material-icons{
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    top: -2px;
}

.older-releases{
    max-height: 35vh;
    background-color: #212529;
}
.older-releases .text-older-rel{
    color: gray;
}


@media screen and (max-width: 481px){
    .bg-apply{
        min-height: 100px;
    }
    .wrapper{
        display: block;
    }
    .half{
        background-color: var(--dark);
        padding: 25px;
        border-radius: 2.6rem;
        min-height: 20vh;
    }
    .half.half-left{
        width: calc(100vw - 2*2.5vw);
        margin-left: 2.5vw;
        margin-bottom: 2.5vh;
    }
    .half.half-right{
        height: 100%;
        width: calc(100vw - 2*2.5vw);
        margin-left: 2.5vw;
    }
}