#navbar-spacer{
    height: 0 !important;
}
#main-jumbotron{
    background-image: url(/static/img/backgrounds/background_code_python_blur.png);
    background-position: center;
}
#info-section{
    min-height: 70vh;
    text-align: center;
}
.info-text{
    max-width: 50vw;
    margin-left: 25vw;
}