{% extends "base/minimal_base.html" %}

{%block pre_head%}
    <title>Kelp Framework - Cookies cleared</title>
{%endblock%}

{% block head %}
    <style>
        #navbar-spacer{
            height: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="jumbotron text-center" id="main-jumbotron">
        <h1 class="main-title">Cleared all cookies associated with this website</h1>
    </div>
    <div id="info-section" class="container">
        <h5 class="info-text">Cleared Cookies:</h5>
        <ul class="list-group">
            {% if not cleared_cookies %}
                <li class="list-group-item bg-dark"><b>no cookies cleared</b></li>
            {% endif %}
            {% for cookie in cleared_cookies %}
                <li class="list-group-item bg-dark"><b>{{ cookie }}</b></li>
            {% endfor %}
        </ul>
    </div>
    <div class="text-center mt-5">
        <a class="btn btn-info" href="/">Back to Home</a>
    </div>
{% endblock %}