{%extends "base/main_base.html"%}

{% block head %}
    <link rel="stylesheet" href="/static/css/pages/index.css">
    <link rel="stylesheet" href="/static/css/modules/atom-one-dark.min.css">
{% endblock %}

{% block body %}
    <div class="parallax first first-img">
        <div class="bg-blur-first"></div>
        <div class="title-text fadeInDown first">
            <img src="/static/img/title.png" alt="">
        </div>
        <div class="scroll-down fadeIn second">
            <button onclick="scrollToElement('.scroll-here')"><img src="/static/img/scroll_down_alt_2.gif" style="height: 100px" alt=""></button>
        </div>
    </div>
    <div class="scroll-here"></div>

    <div class="jumbotron">
        <div class="title-text">What is Kelp?</div>
        <div class="container">
            <div class="row">
                <div class="col mt-5 text-left">
                    Kelp is a large brown algae seaweed that is found in the ocean. <br> <b>Just kidding!</b><br><br>
                    Kelp is a framework built for version-independent spigot plugin development. It is made to increase readability to a maximum, while reducing maintenance costs to a minimum. This enables you to make your plugins compatible with all spigot versions from 1.8 to 1.16 with only one single codebase.
                </div>
                <pre class="code-editor col">{{ web_loader.code_snipptes.NpcShortExample.get_content()|safe }}</pre>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="title-text">Features</div>
        <div class="container">
            <div class="row">

                <div class="card col-4">
                    <div class="card-header"><span class="material-icons">view_sidebar</span> Sidebar</div>
                    <div class="card-body">
                        Stop using nasty workarounds to display & update your sidebars. Use a simple and component-based approach that works just like other familiar frameworks such as React or Flutter. Updates can now be done with ease as you can distinguish between stateful and stateless components. Animated titles are supported out of the box with a bunch of animation algorithms ready to be used.
                    </div>
                    <div class="card-footer"><a href="https://github.com/PXAV/kelp/wiki/Creating-custom-sidebars" target="_blank">See on GitHub</a></div>
                </div>
                <div class="card col-4">
                    <div class="card-header"><span class="material-icons">widgets</span> Inventories</div>
                    <div class="card-body">
                        Create stunning inventories with animations and widget-based design. Instead of just putting items into an inventory, you put in widgets handling calculations that are needed to create a pagination or toggleable buttons/... You can create your own widgets as well!
                    </div>
                    <div class="card-footer"><a>Not on GitHub yet</a></div>
                </div>
                <div class="card col-4">
                    <div class="card-header"><span class="material-icons">event_note</span> Events</div>
                    <div class="card-body">
                        Listen to new custom events that are called when a player changes their language for example. Never forget to register listeners again and create dynamic listeners on server runtime for a more functional approach.
                    </div>
                    <div class="card-footer"><a href="https://github.com/PXAV/kelp/wiki/Working-with-the-Kelp-event-utils" target="_blank">See on GitHub</a></div>
                </div>
                <div class="card col-4">
                    <div class="card-header"><span class="material-icons">celebration</span> Particle Engine</div>
                    <div class="card-body">
                        Create stunning particle effects based on mathematical templates for particle calculation and create your own particle algorithms with ease. All particles you send are version-independent of course!
                    </div>
                    <div class="card-footer"><a>Not on GitHub yet</a></div>
                </div>
                <div class="card col-4">
                    <div class="card-header"><span class="material-icons">schedule</span> Schedulers</div>
                    <div class="card-body">
                        A complete redesign of the Bukkit scheduler library simplifying asynchronous operations and especially synchronization with the server's main thread to handle non-thread-safe operations easier.
                    </div>
                    <div class="card-footer"><a href="https://github.com/PXAV/kelp/wiki/Working-with-Kelp-Schedulers" target="_blank">See on GitHub</a></div>
                </div>
                <div class="card col-4">
                    <div class="card-header"><span class="material-icons">add</span> And much more!</div>
                    <div class="card-body">
                        <ul>
                            <li>Prompts</li>
                            <li>Interactive Messages</li>
                            <li>Boss Bar</li>
                            <li>Entities</li>
                            <li>Configurations</li>
                            <li>Commands</li>
                            <li>Extensive Database Support</li>
                        </ul>
                    </div>
                    <div class="card-footer"><a href="https://github.com/PXAV/kelp/wiki" target="_blank">See on GitHub</a></div>
                </div>

                <div class="card col-12">
                    <div class="card-header"><span class="material-icons">money_off</span> And did we mention it’s free?</div>
                    <div class="card-body">
                        Kelp is open-source and completely free of charge. You can use it in any private or commercial project
                    </div>
                    <div class="card-footer"><a href="https://github.com/PXAV/kelp/blob/master/LICENSE.md" target="_blank">See on GitHub</a></div>
                </div>

            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="title-text">Examples</div>
        <div class="container">
            <div id="accordion">

                <div class="card link-expander-card">
                    <div class="card-header cursor-pointer" data-toggle="collapse" href="#collapse-npc">
                        <span class="card-link link-expander">NPCs</span>
                    </div>
                    <div id="collapse-npc" class="collapse card-body p-0" data-parent="#accordion">
                        <div class="row p-3">

    <pre class="code-editor col">{{ web_loader.code_snipptes.NpcExample.get_content()|safe }}</pre>

                            <div class="col">
                                <img src="/static/img/pages/index/example_showcase_npc.gif" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card link-expander-card">
                    <div class="card-header cursor-pointer" data-toggle="collapse" href="#collapse-inv">
                        <span class="card-link link-expander">Paginated Inventories</span>
                    </div>
                    <div id="collapse-inv" class="collapse card-body p-0" data-parent="#accordion">
                        <div class="p-3">
                            <img class="w-100 p-lg-4 p-md-2 p-sm-0" src="/static/img/pages/index/example_showcase_inv.gif" alt="">
    <pre class="code-editor">{{ web_loader.code_snipptes.InventoryExample.get_content()|safe }}</pre>
                        </div>
                    </div>
                </div>

                <div class="card link-expander-card">
                    <div class="card-header cursor-pointer" data-toggle="collapse" href="#collapse-chat">
                        <span class="card-link link-expander">Interactive Chat Message</span>
                    </div>
                    <div id="collapse-chat" class="collapse card-body p-0" data-parent="#accordion">
                        <div class="p-3">

                                <img class="w-100 p-lg-4 p-md-2 p-sm-0" src="/static/img/pages/index/example_showcase_chat.png" alt="">

    <pre class="code-editor">{{ web_loader.code_snipptes.ChatExample.get_content()|safe }}</pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="/static/js/modules/highlight.min.js"></script>
    <script src="/static/js/pages/index.js"></script>
{% endblock %}
