{% extends "base/main_base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/extensions/extensions_nav.css">
{% endblock %}

{% block body %}
    <div class="jumbotron bg-1">
        <h1>Kelp Extensions</h1>
    </div>

    <div class="container-fluid">
        <div>
            <span class="font-size-h3 font-weight-bold">Pinned Extensions</span>
            <div class="row row-pinned"></div>
            <hr>
            <span class="font-size-h3 font-weight-bold">All Extensions</span>
            <div class="row row-normal"></div>
        </div>
    </div>

    <div class="spacer"></div>
    <div class="w-100 spinner-holder">
        <div class="spinner-border"></div>
    </div>

    <script src="/static/js/extensions/extensions_nav.js"></script>
{% endblock %}