{% extends "base/main_base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/extensions/extensions_page.css">
    <script>
        const module_uuid = "{{ module.uuid }}"
    </script>
{% endblock %}

{% block body %}
    <div class="jumbotron bg-apply">
        <h1>{{ module.module_name }}</h1>
    </div>
    <div class="wrapper">
        <div class="half half-left">{{ module.description_md|safe }}</div>
        <div class="half half-right">
            <span class="font-size-h4 font-weight-bold">Info</span> <br>
            <ul class="list-unstyled ml-1">
                <li>Creator: <a class="float-right" href="/user/{{ module.creator }}">{{ module.creator }}</a></li>
                <li>Created: <span class="float-right">{{ module.created.strftime("%d.%m.%Y %H:%M") }}</span></li>
                <li>Downloads: <span class="float-right">{{ module.downloads }}</span></li>
            </ul>
            <span class="font-size-h4 font-weight-bold">Releases</span> <br>
            {% if files != [] %}
                <div class="bg-success rounded p-2">
                    <span class="font-size-h6 font-weight-bold">Latest Release &nbsp; <small>({{ files[0].modified.strftime("%d.%m.%Y %H:%M:%S") }})</small></span><br>
                    <a class="ml-2 text-black-50" href="/extensions/{{ module.uuid }}/download/{{ files[0].name }}">
                        <i class="material-icons">download</i> {{ py.utils.string.shorten_to(files[0].name, 25, True) }}
                    </a>
                </div>
                <div class="rounded p-2 mt-2 older-releases {{ "link-expander-card" if py.len(files[1:]) > 4 }}">
                    <span class="font-size-h6 font-weight-bold {{ "cursor-pointer link-expander" if py.len(files[1:]) > 4 }}" {{ "data-toggle=collapse" if py.len(files[1:]) > 4 }} data-target="#older-rels">Older Release <small>({{ py.len(files[1:]) }})</small></span><br>
                    {% if py.len(files[1:]) > 0 %}
                        <ul id="older-rels" class="list-unstyled {{ "collapse" if py.len(files[1:]) > 4 }}">
                            {% for file in files[1:] %}
                                <li>
                                    <a class="ml-2 text-older-rel" title="last modified: {{ file.modified.strftime("%d.%m.%Y %H:%M:%S") }}" href="/extensions/{{ module.uuid }}/download/{{ file.name }}">
                                        <i class="material-icons">download</i> {{ py.utils.string.shorten_to(file.name, 25, True) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="ml-2 text-older-rel">no older releases</span>
                    {% endif %}
                </div>
            {% else %}
                no releases
            {% endif %}
        </div>
    </div>

    <script src="/static/js/modules/highlight.min.js"></script>
    <script src="/static/js/extensions/extensions_page.js"></script>
{% endblock %}