<link rel="stylesheet" href="/static/css/modules/c_notice.css">

<div class="alert alert-dismissible text-center cookiealert" role="alert">
    <div class="cookiealert-container">
        This website uses cookies in order to function correctly.<br>
        We do not use cookies for tracking and or advertisement purposes. <br>

        <button class="btn link-blue cookie-options">More info</button>
        <button type="button" class="btn btn-primary acceptcookies mt-2" aria-label="Close">
            Accept
        </button>
    </div>
</div>
<script src="/static/js/modules/c_notice.js"></script>