<footer>
    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div>
                        <h5>Seapipe</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://{{ app.host }}/">Home</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div>
                        <h5>Social</h5>
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="">Twitter</a></li>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCtXSAGTwurKVeEbwEKMlFog">YouTube</a></li>
                            <li><a target="_blank" href="https://discord.gg/KVtjCMwk4x">Discord</a></li>
                            <li><a target="_blank" href="https://github.com/KelpFramework">GitHub</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div>
                        <h5>Help / Support</h5>
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="">FAQ</a></li>
                            <li><a href="mailto://support@{{ app.host }}">Contact</a></li>
                            <li><a target="_blank" href="https://github.com/KelpFramework/kelp/issues/new/choose">Report a bug (kelp)</a></li>
                            <li><a target="_blank" href="https://github.com/KelpFramework/kelp-home/issues/new/choose">Report a bug (website)</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div>
                        <h5>Legal</h5>
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="https://github.com/KelpFramework/kelp/blob/master/LICENSE.md">License</a></li>
                            <li><a target="_blank" href="/imprint">Imprint</a></li>
                            <li><a target="_blank" href="/privacy">Privacy Policy</a></li>
                            <li><a target="_blank" href="/community-guidelines">Community Guidelines</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="text-center py-1">
            <span>Copyright {{ app.url }} © 2021</span>
        </div>
    </div>
</footer>