{% extends "base/email_base.html" %}

{% block title %}Password Reset{% endblock %}
{% block header %}Account Password Reset{% endblock %}

{% block body %}
    <div style="margin-left: 30px">
        <p>Hi, everyone sometimes forgets something. It's okay!</p>
        <p>You can click this button in order to get to a webpage with which you can reset your forgotten password:</p>
        <p>
            <br>
            <b style="color: red">Warning! If you didn't forget your password, ignore this email and change your password immediately!</b>
            <br>
        </p>
        <p style="text-align: center"><br><br>
            <a style="text-decoration: none;padding: 40px 25vw;background-color: #02B875;border: none;color: white;cursor: pointer;border-radius: 2.6rem;" href="http://{{ app.url }}/login?reset={{ code }}">
                <span style="font-size: 30px;">Reset Password</span>
            </a>
        </p><br><br>
        <p>If the button does not work please use this link:</p>
        <a style="color: #2e72ea" href="http://{{ app.url }}/login?reset={{ code }}">https://{{ app.url }}/login?reset={{ code }}</a>
    </div>
{% endblock %}