.bg-1{
    height: 200px;
    background-color: transparent;
    background-image: url("/static/img/backgrounds/background_code_java_kelp_blur.png");
    background-position: 0;
    background-size: cover;
    text-align: center;
}
.jumbotron h1{
    font-size: 65px;
}

.card-hover{
    transition: all .2s;
    cursor: pointer;
}
.card-hover:hover{
    transform: scale(1.02);
}